.create-community-container {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 450px;
  color: #6A4040;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #fedae7;
}

.header {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

input[type="file"] {
  display: none;
  margin: auto;
}

.text-lavender_blush-900 {
  color: #faf4f4;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccaaaa;
  border-radius: 8px;
  font-size: 14px;
  color: #6a4040;
}

textarea {
  resize: none;
}

.file-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto;
  font-weight: bold;
}

.community-page-container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto 0;
  padding: 16px;
}